.section-examples .container .col-sm-6 img{
  border-color: $info;
}
@include media-breakpoint-down(xs) {
  .page-header{
    .content-center {
      &.brand {
        width: 80%;
      }
    }
    .carousel{
      width: 100%;
      vertical-align: middle;
      top: 50%;
      left: 50%;
    }
    .table{
      width: 100%;
      transform: translate(-50%, -50%);
      vertical-align: middle;
      top: 50%;
      left: 50%;
    }
    
  }
  .modal-content{
    position: absolute;
    top: 10%;
  }
  
}

